/* base */
html {
    font-family: 'Roboto', sans-serif;
}

h1 , p{
    color: #4F4D53;
}

h2 , h3  {
    color: #E8BE02;
}

h4 {
    color: #fff;
}

h1 , h2 , h3 {
    font-weight: 800;
}

h4 , p {
    font-weight: 400;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h3 , p{
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

p {
    line-height: 1.5;
}

.img-box > img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}


/* 原本 */
/* .header {
    background-color: #4F4D53;
} */
/* .header-container {
    text-align: center;
    min-height: 48px;
    line-height: 48px;
} */

.header {
    background-color: #4F4D53;
    min-height: 48px;
    line-height: 48px;
    text-align: center;
}

.header-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 95%;
    line-height: 1;
    font-size: 0;
}



.header-wrap--menu {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 42px);
    text-align: right;

}

.header__menu {
    display: inline-block;
    width: 30px;
    height: 2.1px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-width: 0;
    border-top: 1.5px solid;
    border-bottom: 1.5px solid;
    color: #E8BE02;
    background-color: #E8BE02;
    background-clip: content-box;
    cursor: pointer;
}

.header__menu-list {
    position: fixed;
    z-index: 3;
    left: 0; right: 70%;top: 0; bottom: 0;
    text-align: left;
    background-color: #4F4D53;


    transform: translateX(-100%);
    transition: transform .6s;
}

.header.isMenuActive .header__menu-list {
    transform: translateX(0);
}


.header__menu-list > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.header__menu-list > li > a:hover {
    background-color: #fff;
    color: #4F4D53;
}




.header__logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/gtd_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 21px;
}
.header__logo > a {
    position: absolute;
    left: -21px; right: -21px; top: -15px; bottom: -15px;
}

.banner {
    position: relative;
    z-index: 0;
    
}
/* .banner::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: #fff;
    background-image: url('../img/img_hero.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(6px);
    opacity: .15;
} */
.banner-txt {
    position: absolute;
    top: 50%; left: 0; right: 0;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: translateY(-50%);
}
.banner-carousel {
    padding-top: 35.1%;
    position: relative;
    overflow: hidden;
}
.banner-carousel__content {
    position: absolute;
    z-index: -1;
    left: 0; right: 0; top: 0; bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #aaa;
}
.banner-carousel__points {
    position: absolute;
    left: 0; right: 0;
    bottom: 30px;
    font-size: 0;
    text-align: center;
}
.banner-carousel__points > li {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}

.banner-carousel__points > li.active {
    background-color: #E8BE02;
}

.banner-carousel__arrow {
    position: absolute;
    top: 0;bottom: 0;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.banner-carousel__arrow::after {
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-width: 0;
    border-style: solid;
    border-top-width: 3px;

}
.banner-carousel__arrow.next {
    right: 15px;
    transform: rotateZ(45deg);
}
.banner-carousel__arrow.next::after {
    border-right-width: 3px;
}

.banner-carousel__arrow.prev {
    left: 15px;
    transform: rotateZ(-45deg);
}
.banner-carousel__arrow.prev::after {
    border-left-width: 3px;
}


.main-container {
    max-width: 95%;
    
    margin-right: auto;
    margin-left: auto;
}
.main-container {
    overflow: hidden;
}


.main__title {
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer {
    background-color: #4F4D53;
    min-height: 320px;
    line-height: 320px;
    text-align: center;
  
}
.footer::before {
    content: '';
    display: block;
    height: 12px;
    background-color: #E8BE02;
}

.footer-container {
    display: inline-block;
    vertical-align: middle;
    width: 93%;
    line-height: 1;
}

.footer-wrap::after {
    content: '';
    display: block;
    clear: both;
}

.footer__list > li {
    margin: 12px 0;
}

.footer__list > li:first-child{
    margin: 24px 0;
}

.footer__list:first-child > li:nth-child(4){
    margin-bottom: 24px;
}

/* animation */
.move-left-enter {
    transform: translateX(100%);
}
.move-left-enter-to , .move-left-leave{
    transform: translateX(0);
}
.move-left-leave-to {
    transform: translateX(-100%);
}
.move-left-enter-active,.move-left-leave-active {
    transition: transform 1.2s ease-out;
}
.move-left-enter-active {
    transition-delay: .1s;
}

.move-right-enter {
    transform: translateX(-100%);
}
.move-right-enter-to , .move-right-leave{
    transform: translateX(0);
}
.move-right-leave-to {
    transform: translateX(100%);
}
.move-right-enter-active,.move-right-leave-active {
    transition: transform .6s;
}




@media screen and (min-width: 768px) {
    .img-box.md\:f-l {
        margin-right: 9px;
    }
    .img-box.md\:f-r {
        margin-left: 9px;
    }

    .header__menu {
        display: none;
    }

    .header__menu-list {
        position: static;
        transform: none;
        text-align: right;
    }

    .header__menu-list > li {
        position: relative;
        display: inline-block;
    }

    .header__menu-list > li > a {
        padding-right: 15px;
    }

    .header__menu-list > li.active::after {
        content: '';
        position: absolute;
        left: 0; right: 0; bottom: 0;
        height: 0;
        padding: 1.2px 0;
        background-color: #fff;
    }

    .main__title {
        margin-top: 60px;
    }

    .main-container > p:last-child {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }
    
    h2 {
        font-size: 64px;
    }
    
    h3 , p{
        font-size: 20px;
    }
    
    h4 {
        font-size: 14px;
    }

    .img-box {
        margin-bottom: 0;
    }

    .header-container , .banner-txt , .main-container , .footer-container {
        max-width: 1024px;
    }

    .header-container {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-txt {
        text-align: left;
    }

    .main__title {
        margin-top: 75px;
        margin-bottom: 75px;
    }

    .footer::after {
        content: '';
        display: block;
        clear: both;
    }
    .footer-wrap {
        width: 50%;
        float: left;
    }

    .footer__list {
        margin: 0;
    }

}
