/* base */
.img-box > img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}


.banner {
    position: relative;
    z-index: 0;
    
}

.banner-txt {
    position: absolute;
    top: 50%; left: 0; right: 0;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: translateY(-50%);
}
.banner-carousel {
    padding-top: 35.1%;
    position: relative;
    overflow: hidden;
}
.banner-carousel__content {
    position: absolute;
    z-index: -1;
    left: 0; right: 0; top: 0; bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #aaa;
}
.banner-carousel__points {
    position: absolute;
    left: 0; right: 0;
    bottom: 30px;
    font-size: 0;
    text-align: center;
}
.banner-carousel__points > li {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}

.banner-carousel__points > li.active {
    background-color: #E8BE02;
}

.banner-carousel__arrow {
    position: absolute;
    top: 0;bottom: 0;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.banner-carousel__arrow::after {
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-width: 0;
    border-style: solid;
    border-top-width: 3px;

}

.banner-carousel__arrow.next {
    right: 15px;
    transform: rotateZ(45deg);
}
.banner-carousel__arrow.next::after {
    border-right-width: 3px;
}

.banner-carousel__arrow.prev {
    left: 15px;
    transform: rotateZ(-45deg);
}
.banner-carousel__arrow.prev::after {
    border-left-width: 3px;
}


/* animation */
.move-left-enter {
    transform: translateX(100%);
}
.move-left-enter-to , .move-left-leave{
    transform: translateX(0);
}
.move-left-leave-to {
    transform: translateX(-100%);
}
.move-left-enter-active,.move-left-leave-active {
    transition: transform 1.2s ease-out;
}
.move-left-enter-active {
    transition-delay: .1s;
}

.move-right-enter {
    transform: translateX(-100%);
}
.move-right-enter-to , .move-right-leave{
    transform: translateX(0);
}
.move-right-leave-to {
    transform: translateX(100%);
}
.move-right-enter-active,.move-right-leave-active {
    transition: transform .6s;
}




@media screen and (min-width: 768px) {
    .img-box.md\:f-l {
        margin-right: 9px;
    }
    .img-box.md\:f-r {
        margin-left: 9px;
    }
}

@media screen and (min-width: 1200px) {
    .banner-txt {
        text-align: left;
    }
}
